#navbar-container .wrap {
    max-width: 1280px;
    width: 100%;
}

.logo a img {
    margin-top: 15px;
    max-width: 200px;
}

@media (max-width: 899px) {
    .logo a img {
        margin-top: 2px;
    }
}
    

#navbar-container .nav-menu li a {
    padding: 0 10px;
}