
#industry{height:calc(100vh - 60px);margin-top:60px;
					display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;
					align-items:center;overflow:hidden;position:relative;color:#fff}#industry:before{content:"";background-image:url(../profile/industry.jpg);
				background-size:cover;background-position:top;display:block;top:0;left:0;height:100%;width:100%;position:absolute;transition:all 15s}
				#industry p{color:#fff;display:inline-block;margin:15px 20px}@media only screen and (max-width:767px){#industry p{display:block;text-align:center}}
				#industry.loaded:before{transform:translate3d(0,20px,0) scale(1.25)}@media only screen and (min-width:768px){#industry{min-height:660px}}#industry img{margin-bottom:20px;max-width:314px;
					height:auto}


					@media only screen and (max-width:767px){
						#industry img{width:70%;display:block;margin:0 auto 25px}}
						#industry h1{color:#ec008c;font-weight:500;font-size:2.8rem;margin-bottom:50px}
					    #industry h1 span{color:#fff;font-weight:400}
					@media only screen and (max-width:767px){
					    #industry h1{font-size:1.8rem}}

			    #industry a.btn{
			    	background-size:300% 100%;background-position:100% 0;border-radius:10px;font-weight:700;display:inline-block;text-decoration:none;padding:10px 15px;font-size:22px;width:87%;box-shadow:2px 2px 10px #000;margin:0 auto;display:block}
				#industry a.btn,
				#industry a.btn:hover{
					background-image:linear-gradient(45deg,#8f0049,#fe0081 50%,#8f0049);color:#fff;transition:all .5s ease-in-out}
				#industry a.btn:hover{background-position:0 0}
				@media only screen and (min-width:768px){
					#industry a.btn{width:auto;display:initial}}
				#industry .arrow-container{color:#fff;opacity:.5;transition:1s ease;position:absolute;bottom:0;width:200px;height:50px}
				#industry .arrow-container:hover{opacity:1}
				#industry .arrow-container a{color:#fff}
				#industry .arrow-container a:hover{text-decoration:none}
				#industry .arrow-container p{position:relative;bottom:30px;font-size:20px;width:100%;text-align:center;margin:0}
				
				@media only screen and (max-width:767px){
					#industry a.btn{
                    	width: 100px; height: 
                    }


					#industry .arrow-container p{opacity:0}}
					#industry .arrow{
						width:38px;height:14px; margin-top: 20px;
					margin:auto;text-transform:uppercase;letter-spacing:3px;text-align:center;position:relative;left:0;right:0;bottom:30px;
					animation:b 1.6s linear infinite}
					#industry .arrow ul{list-style:none}
					#industry .arrow ul li{width:24px;height:4px;background:#fff}
					#industry .arrow ul li:first-child{left:0;top:0;position:absolute;-ms-transform:rotate(45deg);transform:rotate(45deg);border-radius:5px 0 0 5px}
					#industry .arrow ul li:nth-child(2){left:14px;position:absolute;border-radius:0 5px 5px 0;top:0;-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
				    #industry .arrow:hover{opacity:1}@keyframes b{0%{transform:translateY(0)}50%{transform:translateY(4px)}to{transform:translateY(0)}}




				#startup{height:calc(100vh - 60px);margin-top:60px;
					display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;
					align-items:center;overflow:hidden;position:relative;color:#fff}#startup:before{content:"";background-image:url(../cover/startup1.jpg);
				background-size:cover;background-position:top;display:block;top:0;left:0;height:100%;width:100%;position:absolute;transition:all 15s}
				#startup p{color:#fff;display:inline-block;margin:15px 20px}@media only screen and (max-width:767px){#startup p{display:block;text-align:center}}
				#startup.loaded:before{transform:translate3d(0,20px,0) scale(1.25)}@media only screen and (min-width:768px){#startup{min-height:660px}}#startup img{margin-bottom:20px;max-width:314px;
					height:auto}


					@media only screen and (max-width:767px){
						#startup img{width:70%;display:block;margin:0 auto 25px}}
						#startup h1{color:#ec008c;font-weight:500;font-size:2.8rem;margin-bottom:50px}
					    #startup h1 span{color:#fff;font-weight:400}
					@media only screen and (max-width:767px){
					    #startup h1{font-size:1.8rem}}

			    #startup a.btn{
			    	background-size:300% 100%;background-position:100% 0;border-radius:10px;font-weight:700;display:inline-block;text-decoration:none;padding:10px 15px;font-size:22px;width:87%;box-shadow:2px 2px 10px #000;margin:0 auto;display:block}
				#startup a.btn,
				#startup a.btn:hover{
					background-image:linear-gradient(45deg,#8f0049,#fe0081 50%,#8f0049);color:#fff;transition:all .5s ease-in-out}
				#startup a.btn:hover{background-position:0 0}
				@media only screen and (min-width:768px){
					#startup a.btn{width:auto;display:initial}}
				#startup .arrow-container{color:#fff;opacity:.5;transition:1s ease;position:absolute;bottom:0;width:200px;height:50px}
				#startup .arrow-container:hover{opacity:1}
				#startup .arrow-container a{color:#fff}
				#startup .arrow-container a:hover{text-decoration:none}
				#startup .arrow-container p{position:relative;bottom:30px;font-size:20px;width:100%;text-align:center;margin:0}
				
				@media only screen and (max-width:767px){
					#startup a.btn{
                    	width: 100px; height: 
                    }


					#startup .arrow-container p{opacity:0}}
					#startup .arrow{
						width:38px;height:14px; margin-top: 20px;
					margin:auto;text-transform:uppercase;letter-spacing:3px;text-align:center;position:relative;left:0;right:0;bottom:30px;
					animation:b 1.6s linear infinite}
					#startup .arrow ul{list-style:none}
					#startup .arrow ul li{width:24px;height:4px;background:#fff}
					#startup .arrow ul li:first-child{left:0;top:0;position:absolute;-ms-transform:rotate(45deg);transform:rotate(45deg);border-radius:5px 0 0 5px}
					#startup .arrow ul li:nth-child(2){left:14px;position:absolute;border-radius:0 5px 5px 0;top:0;-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
				    #startup .arrow:hover{opacity:1}@keyframes b{0%{transform:translateY(0)}50%{transform:translateY(4px)}to{transform:translateY(0)}}



				#sme{height:calc(100vh - 60px);margin-top:60px;
					display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;
					align-items:center;overflow:hidden;position:relative;color:#fff}#sme:before{content:"";background-image:url(../cover/sme.jpg);
				background-size:cover;background-position:top;display:block;top:0;left:0;height:100%;width:100%;position:absolute;transition:all 15s}
				#sme p{color:#fff;display:inline-block;margin:15px 20px}@media only screen and (max-width:767px){#sme p{display:block;text-align:center}}
				#sme.loaded:before{transform:translate3d(0,20px,0) scale(1.25)}@media only screen and (min-width:768px){#sme{min-height:660px}}#sme img{margin-bottom:20px;max-width:314px;
					height:auto}


					@media only screen and (max-width:767px){
						#sme img{width:70%;display:block;margin:0 auto 25px}}
						#sme h1{color:#ec008c;font-weight:500;font-size:2.8rem;margin-bottom:50px}
					    #sme h1 span{color:#fff;font-weight:400}
					@media only screen and (max-width:767px){
					    #sme h1{font-size:1.8rem}}

			    #sme a.btn{
			    	background-size:300% 100%;background-position:100% 0;border-radius:10px;font-weight:700;display:inline-block;text-decoration:none;padding:10px 15px;font-size:22px;width:87%;box-shadow:2px 2px 10px #000;margin:0 auto;display:block}
				#sme a.btn,
				#sme a.btn:hover{
					background-image:linear-gradient(45deg,#8f0049,#fe0081 50%,#8f0049);color:#fff;transition:all .5s ease-in-out}
				#sme a.btn:hover{background-position:0 0}
				@media only screen and (min-width:768px){
					#sme a.btn{width:auto;display:initial}}
				#sme .arrow-container{color:#fff;opacity:.5;transition:1s ease;position:absolute;bottom:0;width:200px;height:50px}
				#sme .arrow-container:hover{opacity:1}
				#sme .arrow-container a{color:#fff}
				#sme .arrow-container a:hover{text-decoration:none}
				#sme .arrow-container p{position:relative;bottom:30px;font-size:20px;width:100%;text-align:center;margin:0}
				
				@media only screen and (max-width:767px){
					#sme a.btn{
                    	width: 100px; height: 
                    }


					#sme .arrow-container p{opacity:0}}
					#sme .arrow{
						width:38px;height:14px; margin-top: 20px;
					margin:auto;text-transform:uppercase;letter-spacing:3px;text-align:center;position:relative;left:0;right:0;bottom:30px;
					animation:b 1.6s linear infinite}
					#sme .arrow ul{list-style:none}
					#sme .arrow ul li{width:24px;height:4px;background:#fff}
					#sme .arrow ul li:first-child{left:0;top:0;position:absolute;-ms-transform:rotate(45deg);transform:rotate(45deg);border-radius:5px 0 0 5px}
					#sme .arrow ul li:nth-child(2){left:14px;position:absolute;border-radius:0 5px 5px 0;top:0;-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
				    #sme .arrow:hover{opacity:1}@keyframes b{0%{transform:translateY(0)}50%{transform:translateY(4px)}to{transform:translateY(0)}}





.example{
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.example {
    -ms-overflow-style: none;
}


