#internship{height:calc(100vh - 60px);margin-top:60px;
					display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;
					align-items:center;overflow:hidden;position:relative;color:#fff}#internship:before{content:"";background-image:url(../cover/internship.jpg);
				background-size:cover;background-position:top;display:block;top:0;left:0;height:100%;width:100%;position:absolute;transition:all 15s}
				#internship p{color:#fff;display:inline-block;margin:15px 20px}@media only screen and (max-width:767px){#internship p{display:block;text-align:center}}
				#internship.loaded:before{transform:translate3d(0,20px,0) scale(1.25)}@media only screen and (min-width:768px){#internship{min-height:660px}}#internship img{margin-bottom:20px;max-width:314px;
					height:auto}


					@media only screen and (max-width:767px){
						#internship img{width:70%;display:block;margin:0 auto 25px}}
						#internship h1{color:#ec008c;font-weight:500;font-size:2.8rem;margin-bottom:50px}
					    #internship h1 span{color:#fff;font-weight:400}
					@media only screen and (max-width:767px){
					    #internship h1{font-size:1.8rem}}

			    #internship a.btn{
			    	background-size:300% 100%;background-position:100% 0;border-radius:10px;font-weight:700;display:inline-block;text-decoration:none;padding:10px 15px;font-size:22px;width:87%;box-shadow:2px 2px 10px #000;margin:0 auto;display:block}
				#internship a.btn,
				#internship a.btn:hover{
					background-image:linear-gradient(45deg,#8f0049,#fe0081 50%,#8f0049);color:#fff;transition:all .5s ease-in-out}
				#internship a.btn:hover{background-position:0 0}
				@media only screen and (min-width:768px){
					#internship a.btn{width:auto;display:initial}}
				#internship .arrow-container{color:#fff;opacity:.5;transition:1s ease;position:absolute;bottom:0;width:200px;height:50px}
				#internship .arrow-container:hover{opacity:1}
				#internship .arrow-container a{color:#fff}
				#internship .arrow-container a:hover{text-decoration:none}
				#internship .arrow-container p{position:relative;bottom:30px;font-size:20px;width:100%;text-align:center;margin:0}
				
				@media only screen and (max-width:767px){
					#internship a.btn{
                    	width: 100px; height: 
                    }


					#internship .arrow-container p{opacity:0}}
					#internship .arrow{
						width:38px;height:14px; margin-top: 20px;
					margin:auto;text-transform:uppercase;letter-spacing:3px;text-align:center;position:relative;left:0;right:0;bottom:30px;
					animation:b 1.6s linear infinite}
					#internship .arrow ul{list-style:none}
					#internship .arrow ul li{width:24px;height:4px;background:#fff}
					#internship .arrow ul li:first-child{left:0;top:0;position:absolute;-ms-transform:rotate(45deg);transform:rotate(45deg);border-radius:5px 0 0 5px}
					#internship .arrow ul li:nth-child(2){left:14px;position:absolute;border-radius:0 5px 5px 0;top:0;-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
				    #internship .arrow:hover{opacity:1}@keyframes b{0%{transform:translateY(0)}50%{transform:translateY(4px)}to{transform:translateY(0)}}




.example{
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.example {
    -ms-overflow-style: none;
}


